.side-navigation {
  position: sticky;
  top: 50px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: calc(100vh - 100px);
  background-color: #fcba03;
  box-shadow: 10px 0px 5px #dedcd9;
  color: #fcba03;
  z-index: 100;
  position: fixed;
  /* padding-right: 100px; */
  
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-top: 40px;
  gap: 8px;
  list-style: none;
  justify-content: space-between;
  padding-left: 2px;
  height: 100%;
  width: 100%;
  color: #fcba03;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  color: #fcba03;
  gap: 15px;
  opacity: 1 !important;
  z-index: 1000;
}

.nav-item {
  width: 175px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fcba03;
  gap: 3px;
  padding: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-size: 20px;
  cursor: pointer;
  font-weight: 200;
  opacity: 1;
}

.nav-text {
  width: 175px;
  height: 56px;
  display: flex;
  flex-direction: center;
  align-items: center;
  text-decoration: none;
  /* color: #fcba03; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.01em;
  font-size: 20px;
  cursor: pointer;
  font-weight: 200;
}

.nav-icon {
  display: flex;
  flex-direction: center;
  align-items: center;
	color: white; 
  font-size: 150% !important;
  margin-right: 10px;
}

.nav-art{
  display: flex;
  flex-direction: center;
  align-items: center;
  padding-bottom: 50px;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 460%;
  background-image:url(hive2.png);
  opacity: 0.3;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-right: 0;
 
}

/* a:active { 
	color: black; 
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}


a:hover {
	text-decoration: none;
  color: black; 
} */
