.dashboard {
  height: 100%;
  width: 100%;
}

.dashboard-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.dashboard-body-row {
  display: flex;
  flex-direction: row;
  /* display: table; */
  /* clear: both; */
}

.dashboard-menu {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard-items {
  display: flex;
  flex-direction: column;
}
